In [1]:
import numpy as np
import pandas as pd 
from pandas import DataFrame
import matplotlib.pyplot as plt
baza=pd.read_csv("Netflix_all.csv")

In [2]:
seznam={}
for jak,avg in baza[["listed_in"]].iterrows():
    for name in avg:
        splitansez=name.split(", ")
        for sp in splitansez:
            if sp not in seznam:
                seznam[sp]=[]

In [3]:
len(seznam.keys())

42

In [4]:
bb = baza.sort_values(by=['numVotes'], ascending=False)

In [5]:
najboljpopularni=bb.head(100)

In [6]:
table=[][
for index, row in najboljpopularni.iterrows():
    for zanr in row['listed_in'].split(", "):
        najboljpopularni.loc[index, zanr] = int(1)
najboljpopularni = table.drop(columns=[ 'type', 'show_id', 'director', 'cast','country','date_added','release_year','rating','duration','listed_in','description','averageRating','numVotes','month_added','year_added']).fillna(0)
najboljpopularni = table_from_frame(najboljpopularni)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,averageRating,numVotes,month_added,year_added
3524,70131314,Movie,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...","United States, United Kingdom",2020-01-01,2010,PG-13,148 min,"Action & Adventure, Sci-Fi & Fantasy, Thrillers","In this mind-bending sci-fi thriller, a man ru...",8.8,1936206.0,January,2020
3628,880640,Movie,Pulp Fiction,Quentin Tarantino,"John Travolta, Samuel L. Jackson, Uma Thurman,...",United States,2019-01-01,1994,R,154 min,"Classic Movies, Cult Movies, Dramas",This stylized crime caper weaves together stor...,8.9,1733848.0,January,2019
3580,60004484,Movie,The Lord of the Rings: The Return of the King,Peter Jackson,"Elijah Wood, Ian McKellen, Liv Tyler, Viggo Mo...","New Zealand, United States",2020-01-01,2003,PG-13,201 min,"Action & Adventure, Sci-Fi & Fantasy",Aragorn is revealed as the heir to the ancient...,8.9,1567633.0,January,2020
3581,60004483,Movie,The Lord of the Rings: The Two Towers,Peter Jackson,"Elijah Wood, Ian McKellen, Liv Tyler, Viggo Mo...","New Zealand, United States",2020-01-01,2002,PG-13,179 min,"Action & Adventure, Sci-Fi & Fantasy",Frodo and Sam head to Mordor to destroy the On...,8.7,1415496.0,January,2020
6160,70143836,TV Show,Breaking Bad,-1,"Bryan Cranston, Aaron Paul, Anna Gunn, Dean No...",United States,2013-08-02,2013,TV-MA,5 Seasons,"Crime TV Shows, TV Dramas, TV Thrillers",A high school chemistry teacher dying of cance...,9.5,1323484.0,August,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3543,70112500,Movie,Moon,Duncan Jones,"Sam Rockwell, Kevin Spacey, Dominique McElligo...","United Kingdom, United States",2020-01-01,2009,R,97 min,"Dramas, Independent Movies, Sci-Fi & Fantasy",As he nears the end of a lonely three-year sti...,7.9,322684.0,January,2020
3601,70100379,Movie,Yes Man,Peyton Reed,"Jim Carrey, Zooey Deschanel, Bradley Cooper, J...","United States, United Kingdom",2020-01-01,2008,PG-13,104 min,"Comedies, Romantic Movies","After a bitter divorce, a bank drone falls und...",6.8,322363.0,January,2020
5054,70121522,Movie,3 Idiots,Rajkumar Hirani,"Aamir Khan, Kareena Kapoor, Madhavan, Sharman ...",India,2019-08-01,2009,PG-13,164 min,"Comedies, Dramas, International Movies",While attending one of India's premier college...,8.4,318965.0,August,2019
3588,60024914,Movie,The Ring,Gore Verbinski,"Naomi Watts, Martin Henderson, David Dorfman, ...",United States,2020-01-01,2002,PG-13,116 min,"Horror Movies, Thrillers",A reporter watches a video that supposedly set...,7.1,309047.0,January,2020
3596,70117902,Movie,Up in the Air,Jason Reitman,"George Clooney, Vera Farmiga, Anna Kendrick, J...",United States,2020-01-01,2009,R,110 min,"Comedies, Dramas, Romantic Movies",Ryan Bingham flies around the country firing e...,7.4,309012.0,January,2020