In [37]:
import numpy as np

Transform to csv files

In [10]:
#import pandas as pd 
#tsv_file="D:\Sola\PR\PR19KKZDBMPBPGS\Data\data.tsv"
#csv_table=pd.read_table(tsv_file,sep='\t')
#csv_table.to_csv('D:\Sola\PR\PR19KKZDBMPBPGS\Data\Dataaskas.csv',index=False)

Preberimo datoteke

In [11]:
import pandas as pd
from datetime import datetime
movies=pd.read_csv("Data\\akas.csv")

Izberemo samo tiste ki imajo region US.

In [12]:
movies=movies[movies["region"]=="US"]

In [8]:
ratings=pd.read_csv("Data\\ratings.csv")
ratings.rename(columns = {'tconst':'titleId'}, inplace = True) 
projekt=movies.merge(ratings,on="titleId")
projekt[]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes
0,tt0000001,5,Carmencita,US,\N,\N,\N,0,5.6,1592
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0,6.1,194
2,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0,6.1,2028
3,tt0000005,4,Blacksmith Scene #1,US,\N,alternative,\N,0,6.1,2028
4,tt0000005,5,Blacksmithing,US,\N,\N,informal alternative title,0,6.1,2028
...,...,...,...,...,...,...,...,...,...,...
375793,tt9915144,1,Never Ever,US,\N,\N,\N,0,8.6,32
375794,tt9915674,1,"Tyler, the Creator Feat. Kali Uchis: See You A...",US,\N,\N,\N,0,8.5,24
375795,tt9916348,1,Ancient World Exposed,US,\N,\N,\N,0,8.9,14
375796,tt9916720,10,The Demonic Nun,US,\N,tv,\N,0,5.5,48
375797,tt9916720,12,The Nun 2,US,\N,imdbDisplay,\N,0,5.5,48

Preberemo še netflix datoteke

In [22]:
netflix=pd.read_csv("Data\\netflix_titles.csv")
projekt[projekt["title"]=="The Witcher"]

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes
214184,tt1135081,5,The Witcher,US,\N,imdbDisplay,\N,0,8.6,3185
326986,tt5180504,24,The Witcher,US,\N,imdbDisplay,\N,0,8.3,236372
356428,tt7351402,1,The Witcher,US,\N,imdbDisplay,\N,0,4.0,70